<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
<div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
             
              <%= image_tag(@profile.picture.url, size:"300x300", class: "css-style") if @profile.picture? %>
             
              <h1><%= current_user.profile.first_name %> <%= current_user.profile.last_name %></h1>
              <p><%= current_user.email %></p>
          </div>

          <ul class="nav nav-pills nav-stacked">
              <li><a href="#"> <i class="fa fa-user"></i> Profile</a></li>
              <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li>
              <li><%= link_to '<i class="fa fa-edit"></i> Edit Profile'.html_safe, new_profile_path %></li>
          </ul>
      </div>
  </div>
  <div class="profile-info col-md-9">
      <div class="panel">
          <form>
              <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area"></textarea>
          </form>
          <footer class="panel-footer">
              <button class="btn btn-warning pull-right">Post</button>
              <ul class="nav nav-pills">
                  <li>
                      <a href="#"><i class="fa fa-map-marker"></i></a>
                  </li>
                  <li>
                      <%= link_to '<i class="fa fa-camera"></i>'.html_safe, new_image_path %>
                  </li>
                  <li>
                      <a href="#"><i class=" fa fa-film"></i></a>
                  </li>
                  <li>
                      <a href="#"><i class="fa fa-microphone"></i></a>
                  </li>
              </ul>
          </footer>
      </div>
      <div class="panel">
          <div class="bio-graph-heading">
              Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna metus.
          </div>
          <div class="panel-body bio-graph-info">
              <h1>Bio Graph</h1>
              <div class="row">
                  <div class="bio-row">
                      <p><span>First Name </span>: <%= current_user.profile.first_name %></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Last Name </span>: <%= current_user.profile.last_name %></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Birthday</span>: <%= current_user.profile.birthday %></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Email </span>: <%= current_user.email %></p>
                  </div>
            
              </div>
          </div>
      </div>
      <div>

     
          <div class="row">
          <% @images.each do |image| %>
              <div class="col-md-6">
                  <div class="panel">
                      <div class="panel-body">
                      <%= image_tag image.picture.url, size: "300x300" %><br />
                      <%= link_to image.name, image_path(image) %>
                      </div>

                  </div>
              </div>
              <% end %>
          </div>
     
      </div>
  </div>
</div>
</div>